/* long-cang-regular - chinese-simplified */
@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/long-cang-v5-chinese-simplified-regular.woff2') format('woff2'),
       url('../fonts/long-cang-v5-chinese-simplified-regular.woff') format('woff'),
       url('../fonts/long-cang-v5-chinese-simplified-regular.ttf') format('truetype');
}

.title{
  font-family:'Long Cang', cursive;
  font-size: 5rem;
}

.subtitle{
  font-family:'Long Cang', cursive;
  font-size: 3.33rem;
}

.info{
  font-size: 1.25rem;
}

.has-bg-img{
  background-repeat: no-repeat; 
  background-position: center top; 
  background-size: cover; 
  background-attachment: scroll;
}

.item-bg-img{
  height: 100vh;
  background-repeat:no-repeat; 
  background-position:center center;
  background-size: cover;
  display: flex; /*make child at bottom*/
  flex-direction: column;
}

.item-caption{
  background: rgba(0,0,0,0.2);
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  padding-bottom: 20px;
  margin-top: auto;
}
